.admin-card-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.btns{
    background-color: aliceblue;
    color: black;
    margin: 10px;
    border-radius: 8px;
}