
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #784c4c;
    color: #fff;
    margin: 0px;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
}
.lists{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}
button{
    background-color: #784c4c;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}