.admin-signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background-color: white;
  margin: 0px;
}

.admin-signin-heading {
    font-size: 28px; 
    font-weight: 600;
    color: #6b4b4b; 
    margin-bottom: 32px; 
}

.admin-signin-input {
    padding: 8px 16px; 
    border: 1px solid #ccc;
    border-radius: 6px; 
    margin-bottom: 16px; 
}

.admin-signin-button {
    padding: 8px 24px; 
    background-color: #784c4c;
    color: white;
    border: none;
    border-radius: 6px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.admin-signin-card{
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 8px;
}
.admin-signup-link {
    color: #6b4b4b; 
    text-decoration: underline; 
    cursor: pointer;
}
